* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

img {
  width: 100%;
}
/* SECTION HEADER */
header {
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

li {
  padding: 0.5rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: 1rem;
  font-weight: 600;
}

#text-selected {
  color: rgb(6, 74, 175);
}

/* SECTION MAIN */
main {
  padding: 1rem;
  background-color: black;
}
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-insert {
  color: white;
}
.section-merchandising {
  background-color: rgb(6, 74, 175);
  display: flex;
  justify-content: center;
}

.img-icon-merchandise,
.text-icon-merchandise {
  display: inline-block;
  padding: 0.5rem;
}

.img-icon-merchandise {
  width: 25%;
}

.section-info {
  background-image: url("../../../public/img/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

/* SECTION FOOTER */

footer {
  padding: 1rem;
  background-color: black;
}

.btn {
  width: 150px;
  color: white;
  background-color: black;
  border: 1px, solid rgb(6, 74, 175);
}

#text-btn {
  padding: 0.5rem;
}

#text-follow-us {
  color: rgb(6, 74, 175);
  font-size: large;
  font-weight: 600;
}
